@charset "UTF-8";

/*

Style   : MobApp CSS
Version : 1.0
Author  : Surjith S M
URI     : https://surjithctly.in/

Copyright © All rights Reserved 

*/


/*------------------------
[TABLE OF CONTENTS]
    
1. GLOBAL STYLES
2. NAVBAR
3. HERO
4. TABS
5. TESTIMONIALS
6. IMAGE GALLERY
7. PRICING
8. CALL TO ACTION
9. FOOTER

------------------------*/


/* GLOBAL
----------------------*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons.md-48 { font-size: 48px; }

/*pequenos ajustes*/
.text-align-center{text-align: center;}

.link-produto{
    margin-bottom: 25px;
}

.card{
    border: 3px solid rgba(0,0,0,.125) !important;
    
}

.preço{color: #0a44d3; font-weight: bold;}

.variedades-de-produtos{
    margin-bottom: 30px;
    margin-bottom: 30px;
    background-color: #004895;
    padding: 20px;
    margin-top: -30px;
    text-align: left;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.variedades-de-produtos-select{
    padding: 16px 40px;
    border-radius: 54px;
}


.x-header__minicart{
    border: 0;
    background-color: #fff;
    position: absolute;
    max-width: 50px;
    text-align: center;
    right: -9px;
    top: 14px;
}

.navbar-dark .navbar-toggler{
    color: rgba(33, 33, 33, 0.99);
    border: 1px solid #888;
    position: absolute;
    right: 0;
    top: 15px;
    padding: 6px 10px 10px 10px;    
}

.icon-bar{
    background-color: #888;
    margin-top: 4px;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.minicart{
    content: "";
    width: 25px;
    width: 1.5625rem;
    height: 25px;
    height: 1.5625rem;
    position: absolute;
    background: #134395;
    z-index: -1;
    border-radius: 100%;
    left: -5px;
    left: -.3125rem;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    top: -12px;
    left: 1.875rem;
    font-size: 14px;
    font-size: .875rem;
}


.produto-lightbox img{
    max-width: 100px;
}

.link-produto p{
    color: #134395;
    ;
}

.navegacao-site{
    margin: 0 !important;
}

.navegacao-site2{
    margin: 20px 0 20px;
}

.navegacao-site li,
.navegacao-site2 li{
    display: inline-block;
    margin: 0 0 0 0;
    color: #fff;
}

.navegacao-site li a,
.navegacao-site2 li a{
    color: #fff !important;
    padding: 12px 22px;
}

.navegacao-site li > a:hover,
.navegacao-site2 li > a:hover{
    color: #fff !important;
    background-color: #a50000;
}

.nav-ativo{
    color: #fff !important;
    background-color: #a50000;
    padding: 18px 22px;
}


.navegacao-div{
    background-color: #e1331d;
    margin: 20px 0 0 0 !important;
}

.navegacao-div2{
    background-color: #a50000;
    margin: 0 !important;
}

.subcategorias-produtos{
    /*padding: 10px 0 10px 20px;*/
}

.subcategorias-produtos li a{
    padding: 10px 76px !important;
}

.subcategorias-produtos li a:hover{
    background-color: #630000;
    border-radius: 50px;
    padding: 10px 76px;
}


.subcategorias-produtos-ativo {
    background-color: #630000;
    border-radius: 50px;
    padding: 10px 76px !important;
}

.dl-menuwrapper{}

.btn-produto-lightbox{
    text-align: center;
    margin: 0 0 50px 0;
    background-color: #28a745;
    color: #fff;
    padding: 8px 3px;
    border-radius: 6px;
    max-width: 134px;
    font-size: 14px;
}

.btn-produto-lightbox:hover{
    background-color: #208838;
    color: #fff;
    text-decoration: none;
}

.btn-fechar-lightbox{
    color: #fff;
    position: absolute;
    left: 740px;
}
.btn-fechar-lightbox:hover{
    color: #fff;
    text-decoration: underline;
}

.lightbox-produtos{
   position: absolute;
   top: 210px;
   left: 222px;
   background-color: #fff;
   border: 1px solid #cecece;
   border-radius: 9px;
   -webkit-box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26);
   -moz-box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26);
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26); 
    /*overflow-y: scroll;*/
    max-height: 500px;
}

.produtos-scroll{
  /*overflow-y: scroll;*/
  /*overflow:hidden;*/
 /*max-height: 330px;*/
}

.produto-lightbox{
  
}

.active-lightbox-produtos{
    display: block !important;
}
.lightbox-produtos-none{
    display:none;
}

.busca-rapida{
    position: absolute;
    top: 400px;
    z-index: 999;
    left: 124px;
    
    

}

.busca-rapida img{
    -webkit-box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26);
    -moz-box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26);
    box-shadow: 9px 10px 5px -5px rgba(0,0,0,0.26);
}

.busca-rapida-none{
    display: none;
}


.link-produto img{
    max-width: 120px;
    border: 2px solid #c5452e;
    border-radius: 84px;
    margin-bottom: 7px;
}

.box-categorias{
    /*background-color: #f5f5f5;*/
}

body {
    /*font-family: 'Rubik', sans-serif;*/
    position: relative;
}

a {
    color: #004895;
    display: block;
}

a:hover,
a:focus {
    color: #004692;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 45px;
    font-weight: 300;
    color: #633991;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

h3 {
    color: #004895;
    font-size: 25px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #633991;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #633991;
    margin-bottom: 0.7rem;
}

.align-items-center{
    text-align: center;
}


/*busca css*/

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}


p {
    color: #959094;
}

p.lead {
    color: #e38cb7;
    margin-bottom: 2rem;
}

.text-primary {
    color: #e38cb7 !important;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    background-image: linear-gradient( 122deg, #e54595 0%, #fd378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #fd378e 0%, #e54595 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0.5rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.8rem 1rem;
    font-size: 15px;
}

.light-bg {
    background-color: #fff;
    /*background-color: #faf6fb;*/
}

.section {
    padding: 30px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
    /*border-bottom: 1px solid #c5452e;*/
    background-color: #fff;
    webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 0;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #fff;
/*background: rgb(240,82,109);
background: -moz-linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%);
background: -webkit-linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%);
background: linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%);*/    
	
	

    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
   .navbar-dark .navbar-nav .show>.nav-link{color: #c5452e !important;}

   .navbar-dark .navbar-nav .nav-link{
    color: #c5452e !important;
   }


.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
    .navbar-nav>.nav-item>.nav-link.active:after {
        content: "";
        border-bottom: 2px solid #cd99d4;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width:991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}

.navbar-dark .navbar-nav .active>.nav-link,
 .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show>.nav-link{
    color: #c5452e;
  }

  .btn-outline-light {
    color: #c5452e;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
	
background: rgb(240,82,109);
background: -moz-linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%);
background: -webkit-linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%);
background: linear-gradient(90deg, rgba(240,82,109,1) 0%, rgba(231,226,219,1) 0%, rgba(233,22,22,1) 99%); 
    
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}


/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
	background: rgb(100,22,22);
	background: -moz-linear-gradient(90deg, rgba(233,22,22,1) 25%, rgba(240,82,109,1) 100%, rgba(252,176,69,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(233,22,22,1) 25%, rgba(240,82,109,1) 100%, rgba(252,176,69,1) 100%);
	background: linear-gradient(90deg, rgba(233,22,22,1) 25%, rgba(240,82,109,1) 100%, rgba(252,176,69,1) 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: -moz-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: -webkit-linear-gradient(top, #9477b4 0%, #fc73b4 100%);
    background: linear-gradient(to bottom, #9477b4 0%, #fc73b4 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-text {
    font-size: 14px;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f5378e;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -webkit-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: -ms-linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    background-image: linear-gradient( 122deg, #e6388e 0%, #fb378e 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #f8e3f0;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}

.x-header__utilities-item:last-child button .x-minicart__amount {
    position: absolute;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    top: 0;
    left: 30px;
    left: 1.875rem;
    font-size: 14px;
    font-size: .875rem;
}

button svg {
    fill: #bfbfbf;
    width: 30px;
    width: 1.875rem;
    height: 30px;
    height: 1.875rem;
}

.ajuste-topo{
    margin-top: 120px;
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    color: #633991;
}


/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}


/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}


/*  PRICING
----------------------*/

@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
}

.card.pricing {
    border: 1px solid #f1eef1;
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #633991;
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}


/*  CALL TO ACTION
----------------------*/

.call-to-action {
    text-align: center;
    color: #FFF;
    margin: 3rem 0;
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem;
}

.call-to-action h2 {
    color: #FFF;
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 650px;
    margin: 0 auto;
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}

















/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.area-de-produtos{
    padding: 60px 0 0 0;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}


@media (max-width:991px) {
    .navbar-dark .navbar-toggler {
        display: none;
        right: 61px;
        top: 19px;
        
    }

    .esconder-navegacao li > a{
        display: none;
    }


    .x-header__minicart{
        right: 21px;
        top: 15px;

     }
}

@media (min-width:991px) {
    .dl-menuwrapper {
        display: none;
    }
    
}















/* ===== Horizontal Rule ===== */
.rule {
    margin: 10px 0;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(left, #f0f0f0, #c9bbae, #f0f0f0);
  }
  
  /* ===== Select Box ===== */
  .sel {
    font-size: 1rem;
    display: inline-block;
    /*margin: 3em 2em;*/
    width: 510px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .sel::before {
    position: absolute;
    content: '\f063';
    font-family: 'FontAwesome';
    font-size: 2em;
    color: #004895;
    right: 20px;
    top: calc(50% - 0.5em);
  }
  
  .sel.active::before {
    transform: rotateX(-180deg);
  }
  
  .sel__placeholder {
    display: block;
    font-family: 'Quicksand';
    font-size: 2.3em;
    color: #838e95;
    padding: 0.2em 0.5em;
    text-align: left;
    pointer-events: none;
    user-select: none;
    visibility: visible;
  }
  
  .sel.active .sel__placeholder {
    visibility: hidden;
  }
  
  .sel__placeholder::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.2em 0.5em;
    content: attr(data-placeholder);
    visibility: hidden;
  }
  
  .sel.active .sel__placeholder::before {
    visibility: visible;
  }
  
  .sel__box {
    position: absolute;
    top: calc(100% + 4px);
    left: -4px;
    display: none;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    background-color: #FFF;
    width: calc(100% + 8px);
    box-sizing: border-box;
  }
  
  .sel.active .sel__box {
    display: block;
    animation: fadeInUp 500ms;
  }
  
  .sel__box__options {
    display: list-item;
    font-family: 'Quicksand';
    font-size: 1.5em;
    color: #838e95;
    padding: 0.5em 1em;
    user-select: none;
  }
  
  .sel__box__options::after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 0.5em;
    margin-left: 5px;
    display: none;
  }
  
  .sel__box__options.selected::after {
    display: inline;
  }
  
  .sel__box__options:hover {
    background-color: #ebedef;
  }
  
  /* ----- Select Box Black Panther ----- */
  .sel {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  }
  
  .sel--black-panther {
    z-index: 3;
  }
  
  /* ----- Select Box Superman ----- */
  .sel--superman {
  /*   display: none; */
    z-index: 2;
  }
  
  /* ===== Keyframes ===== */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }